################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/run-aspnet-identityserver4-Microservices/FileContentIndex
/.vs/SecureMicroservices/v17/.suo
/.vs/SecureMicroservices/FileContentIndex
